<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.665258793371-3455e2tb96ufa8djf2gb9b64luk8ggn9</string>
                <string>frontend</string>
			</array>
		</dict>
	</array>
    <key>CognitoIdentityProvider</key>
            <dict>
                <key>Default</key>
                <dict>
                   <key>PoolId</key>
                    <string>ap-southeast-1_AF5GVSSRx</string>
                    <key>Region</key>
                    <string>ap-southeast-1</string>
                </dict>
            </dict>
</dict>

</plist>
